<header class="mainHeading">
  <div class="mainHeading__content">
    <article class="mainHeading__text">
      <p class="mainHeading__preTitle">T Shirt</p>
      <h2 class="mainHeading__title">Style Icon</h2>
      <p class="mainHeading__description">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minus
        temporibus voluptatum perspiciatis ipsum quod expedita?
      </p>
      <button class="cta">know more</button>
    </article>

    <figure class="mainHeading__image">
      <img
        src="https://images.pexels.com/photos/428340/pexels-photo-428340.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
        alt=""
      />
    </figure>
  </div>
</header>
