<!-- about -->
<div class="about">
    <a
      class="bg_links social portfolio"
      href="https://vstbuildcon.com/"
      target="_blank"
    >
      <span class="icon"></span>
    </a>
    <a
      class="bg_links social dribbble"
      href="https://github.com/Shantanu143"
      target="_blank"
    >
      <span class="icon"></span>
    </a>
    <a
      class="bg_links social linkedin"
      href="https://www.linkedin.com/in/shantanu-nirpal-056139239/"
      target="_blank"
    >
      <span class="icon"></span>
    </a>
    <a class="bg_links logo"></a>
  </div>
  <!-- end about -->
  