
<div class="feture__products">
  <div class="container my-5">
    <div class="row">
      <div class="col-lg-6">
        <img
          class="w-100 shadow"
          src="../../assets/pexels-spencer-selover-428311.jpg"
        />
      </div>
      <div class="col-lg-6">
        <div class="p-5 mt-4">
          <h1 class="display-4 mainHeading__title">New Products</h1>
          <p class="mainHeading__description">
            Crow's nest schooner ho scallywag hail-shot gabion salmagundi.
            Doubloon careen code of conduct lugsail hulk ye long clothes.
          </p>
          <a href="#" class="btn cta">Read More</a>
        </div>
      </div>
    </div>
  </div>
</div>